.LanguageSelectUl {
	position: absolute;
	top: calc(100% + 5px);
	display: flex;
	padding: 8px;
	flex-direction: column;
}
.LanguageSelectButton {
	box-shadow: 10px 10px 45px 1px rgba(0, 0, 0, 0.65);
}
